<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-4'>
        <p></p>
      </div>
      <div class='col-lg-4'></div>
      <div class='col-lg-4'></div>
    </div>
    <div class='row'>
      <div class='col-lg-4'></div>
      <div class='col-lg-4'></div>
      <div class='col-lg-4'></div>
    </div>
    <div class='row'>
      <div class='col-lg-4'></div>
      <div class='col-lg-4'></div>
      <div class='col-lg-4'></div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
